*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: 微软雅黑,"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container{
    margin-top: 0px;
    padding: 0px;
}
.header{
    width: 100%;
    height: 45px;
    background-color: #007F32;
    text-align: center;
}
.icon-back{
    width: 20px;
    height: 31px;
    margin-top: 7px;
    margin-left: 2px;
    background-image: url("../images/arr.png");
}
.icon-back:hover,.icon-back:visited{
    cursor: pointer;
}
.header span,h4{
    float: left;
}

.header h4{
    color: #F9F9FA;
    font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,"YouYuan",sans-serif;
}

/*内容区域*/
.content{
    width: 100%;
    height: 56px;
    margin-top: 10px;
    border-bottom: 1px solid #E7E7E7;
}
.content:hover,.content:visited{
    cursor: pointer;
}
.content-h{
    width: 90%;
    height: 22px;
    margin-left: 5%;
    text-align: left;
    vertical-align: middle;

}
.content-h h4{
    font-size: 16px;
    font-family: 微软雅黑,"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-p{
    width: 90%;
    height: 15px;
    margin-top: 5px;
    margin-left: 5%;
    /*text-align: left;*/
}
.header-h,.time-p{
    width: 100%;
    text-shadow: #999999;
}
.header-h{
    overflow: hidden;
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
    /*width: 20em;/!*不允许出现半汉字截断*!/*/
    height: 20px;
    color: #616161;
    /*background-color: red;*/
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;
}
.time-p{
    width: 100px;
    font-size: 12px;
    text-align: left;
    /*margin-top: 5px;*/
    margin-left: 0px;
    color: #A9A9A9;
    /*height: 15px;*/
}
/*/!*小于320*!/*/
/*@media screen and (max-width:321px) {*/
    /*.header h4{*/
        /*margin-left: 27%;*/
    /*}*/
/*}*/
/*/!*小于375*!/*/
/*@media screen and (max-width:375px) {*/
    /*.header h4{*/
        /*margin-left: 30%;*/
    /*}*/
/*}*/
/*/!*小于384*!/*/
/*@media screen and (max-width:385px) {*/
    /*.header h4{*/
        /*margin-left: 31%;*/
    /*}*/
/*}*/
/*/!*小于414*!/*/
/*@media screen and (max-width:415px) {*/
    /*.header h4{*/
        /*margin-left: 33%;*/
    /*}*/
/*}*/
/*/!*小于568*!/*/
/*@media screen and (max-width:569px) {*/
    /*.header h4{*/
        /*margin-left: 36%;*/
    /*}*/
/*}*/
/*/!*小于667*!/*/
/*@media screen and (max-width:668px) {*/
    /*.header h4{*/
        /*margin-left: 38%;*/
    /*}*/
/*}*/
/*/!*小于736*!/*/
/*@media screen and (max-width:737px) {*/
    /*.header h4{*/
        /*margin-left: 39%;*/
    /*}*/
/*}*/
/*/!*小于960*!/*/
/*@media screen and (max-width:961px) {*/
    /*.header h4{*/
        /*margin-left: 40%;*/
    /*}*/
/*}*/
/*/!*小于1024*!/*/
/*@media screen and (max-width:1025px) {*/
    /*.header h4{*/
        /*margin-left: 42%;*/
    /*}*/
/*}*/